// variables
$font-stack: Helvetica, sans-serif
$primary-color: #333

//styling the body
body
  font: 100% $font-stack
  color: $primary-color

.wrapper
  background-image: url("../images/other/lollipop.jpg")


.submitButton
  top: 2px
  position: relative
  height: 35px
  font-size: 16px


.header
  height: 70px
  color: white



.staticForm
  margin-top: 20px
  padding-right: 10px
  float: right

.input
  height: 24px
  width: 250px
  border-radius: 5px
  font-size: 1em

